<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs') %>
<body>

    <%- include('../partials/nav.ejs') %>
    
    <div class="details content">
        <h2><%= blog.title %></h2>
        <div class="content">
          <p><%= blog.body %></p>
          <p><%= blog.author %></p>
        </div>
        <a class="delete" data-doc="<%= blog._id %>">delete</a>
    </div>

    <div class="comments content">
        <h2>Leave a comment</h2>
        <form action="/blogs/details" method="post">
            <textarea name="comment" id="comment" cols="30" rows="10"></textarea>
            <button>Submit comment</button>
        </form>
    </div>

    <%- include('../partials/footer.ejs') %>

    <script>
        const trashcan = document.querySelector('.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`;

            fetch(endpoint, { method: 'DELETE' })
                //parses json data into js object
                //fetch api in front end js (remember)
                .then(response => response.json())
                .then(data => window.location.href = data.redirect)
                .catch(err => console.log(err))
        });
    </script>
</body>
</html>